<div class="container shadow" id="home">
    <h1>Welcome!</h1>
    <p>This is an application to keep track of cashflow and expenditure.
        Record deposits and withdrawals and this app will calculate the balance for the month for you.</p>
    <a href="/transaction" class="btn btn-primary">See all transactions</a>
    <a href="/transaction/add" class="btn btn-secondary">Record a new Transaction</a>
    <footer>&copy; Copyright 2020 Weebkun</footer>
</div>