<div class="container" style="margin-top: 100px; border:1px solid #ccc; border-radius:4px; background-color:#ccc; padding:10px;">
    <h1 class="text-center">Login</h1>
    <form>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="text" class="form-control">
        </div>
    </form>
</div>