<h1 class="align-center">Login</h1>
<form>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="text" class="form-control">
    </div>
</form>